{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>검색결과없음</title>
        <!--배경색, 폰트-->
        <link rel="stylesheet" href="{% static 'css/main.css' %}?v=2">
        <!--아이콘-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--글쓰기->해시태그선택-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/_4_2recommend_noSearch.css' %}?v=2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    </head>

    <body>
        {% block content %}
        <form method='post' action={% url 'recommend:search' %}>
            {% csrf_token %}
            <input type="text" name="keyword" placeholder="{% trans "검색할 지역을 입력하세요" %}">
        </form>
            {% block contents %}
            <div class="no">{% trans "검색 결과가 없습니다." %}</div>
            {% endblock %}
        {% endblock %}


        <!--네비바-->
        <div class="naviBackground">

            <a href={% url 'post:post_form' %}>
                <span class="material-icons" style="left: 20px;">edit</span>
            </a>

            <a href={% url 'recommend:search' %}>
                <span class="material-icons" style="left: 90px;">search</span>
            </a>
            

            <a href={% url 'accounts:home' %} >
                <span class="material-icons" style="left: 160px;">home</span>
            </a>

            <a href={% url 'mypage:mypage' %} >
                <span class="material-icons" style="left: 230px;">person</span>
            </a>
            <a href={% url 'settings:config_home' %}>
                <span class="material-icons" style="left: 300px;">settings</span>
            </a>
            
        </div>
    </body>
</html>


