/*마이페이지제목*/
.mypagetext > .mypagetextback{
    width: 204px; height: 34px; 
    left: 0px; top: 0px; 
    position: absolute; 
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.10); 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
    width: 204px; height: 34px; 
    background: rgba(255, 240, 239, 0.79); 
    border-radius: 50px; 
    border: 0.15px rgba(84.26, 84.26, 84.26, 0.80) solid;
}

.mypagetext > .text{
    left: 44px; top: 8px; 
    position: absolute; 
    text-align: center; 
    color: #545454; 
    font-size: 24px;
    font-weight: 500; 
    line-height: 20px;
    word-wrap: break-word;
}

/*내 프로필*/
.myinfo > .profileback{
    width: 334px; height: 242px; 
    left: 0px; top: 0px; 
    position: absolute; 
    background: rgba(255, 240, 239, 0.79); 
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.10); 
    border-radius: 10px; 
    border: 0.15px rgba(84.26, 84.26, 84.26, 0.80) solid;
}

.profileImage{
    padding-left: 10px;
}



.mypageeditbtn{
    width: 127px; height: 23px;
    left: 116px; top: 71px; 
    position: absolute;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06); 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
    background: #FFFFEA; 
    border-radius: 50px; 
    border: 0.15px rgba(84.26, 84.26, 84.26, 0.80) solid;
    font-size: 12px;
    padding: 1px;
    color: #545454;
}

.mypageeditbtn > a{
    text-decoration: none;
    color: #545454;
    font-size: 12px;
}

/*내가 쓴 글 보기*/


.mywriting > .mywritingback{
    width: 334px; height: 240px; 
    left: 0px; top: 0px; 
    position: absolute;
    background: rgba(255, 240, 239, 0.79); 
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.10); 
    border-radius: 10px; 
    border: 0.15px rgba(84.26, 84.26, 84.26, 0.80) solid;
    overflow-y: auto;
}
.mywritingback::-webkit-scrollbar {
    width: 1vw;
}
.mywritingback::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.29);
    border-radius: 100px;
}
.myText{
    width: 139px; height: 27px; 
    position: absolute; 
    text-align: center; 
    color: #545454; 
    font-size: 16px;
    font-weight: 500; 
    line-height: 20px; 
    word-wrap: break-word;
    padding-left: 10px;
    padding-top: 10px;
}




/*네비바*/
.naviBackground{
    width: 342px; height: 59px; 
    left: 20px; top: 689.50px; position: absolute;
    background: rgba(250, 223, 222, 0.69); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); 
    border-radius: 100px; 
    border: 0.15px rgba(84.26, 84.26, 84.26, 0.80) solid; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
     gap: 10px; 
     display: inline-flex
}

.naviBackground > a > .material-icons{
    color: rgba(84.26, 84.26, 84.26, 0.80); 
    width: 26px; height: 26px; top: 19px; 
    position: absolute; font-size: 30px;
}
