/*마이페이지제목*/
.mypagetext > .mypagetextback{
    width: 204px; height: 34px; 
    left: 0px; top: 0px; 
    position: absolute; 
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.10); 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
    width: 204px; height: 34px; 
    background: rgba(255, 240, 239, 0.79); 
    border-radius: 50px; 
    border: 0.15px rgba(84.26, 84.26, 84.26, 0.80) solid;
}

.mypagetext > .text{
    left: 44px; top: 8px; 
    position: absolute; 
    text-align: center; 
    color: #545454; 
    font-size: 24px;
    font-weight: 500; 
    line-height: 20px;
    word-wrap: break-word;
}


/* 제목:, 글쓰기: */
.titleText{
    width: 54px; height: 29px; 
    left: 10px; top: 30px; position: absolute; 
    text-align: center;
    color: #A7A7A7; 
    font-size: 20px; 
    font-family: Gmarket Sans TTF; 
    font-weight: 500; 
    line-height: 20px; 
    word-wrap: break-word;
}

.titleWriting{
    left: 64px; top: 28px; position: absolute;
}


/* .contentsText{
    width: 92px; height: 29px; 
    left: 10px; top: 50px; position: absolute;
    text-align: center; 
    color: #A7A7A7; 
    font-size: 15px; 
    font-weight: 500; 
    line-height: 20px; 
    word-wrap: break-word;
} */

.contentsWriting{
    left: 14px; top: 59px; position: absolute;
    
}

.locationText{
    width: 52px; height: 29px; 
    left: 5px; top: 350px; position: absolute;
    text-align: center; 
    color: #A7A7A7; 
    font-size: 15px; 
    font-weight: 500; 
    line-height: 20px; 
    word-wrap: break-word;
}

.locationWriting{
    left: 54px; top: 350px; position: absolute;
}

/* 네모난 상자 */
.background{
    width: 334px; height: 437px; 
    left: 30px; top: 129px;
    position: absolute; 
    background: rgba(255, 240, 239, 0.79); 
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.10); 
    border-radius: 10px; 
    border: 0.15px rgba(84.26, 84.26, 84.26, 0.80) solid;
}

/* 수정하기버튼 */
body > form > button{
    width: 113px; height: 26px; 
    background: #FFFFEA; border-radius: 50px;
    left: 143px; top: 592px; 
    position: absolute; 
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06); 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
    font-family: Gmarket Sans TTF;
    font-weight: 400;
    font-size: 16px;
}