@font-face {
    font-family:'Gmarket Sans TTF';
    src: url("../fonts/GmarketSansTTFMedium.ttf"), url("../fonts/GmarketSansTTFBold.ttf"), url("../fonts/GmarketSansTTFLight.ttf");
  }

html > body{
    font-family: 'Gmarket Sans TTF';
    width: 393px; 
    height: 900px; 
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.69) 0%, rgba(248.33, 242.49, 242.27, 0.69) 67%, rgba(255, 240.80, 240.28, 0.69) 83%, rgba(250, 223, 222, 0.79) 100%); 
}

