{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--배경색, 폰트-->
        <link rel="stylesheet" media="main" type="text/css" href="{% static 'css/main.css' %}">
        <!--로그인-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/_1login.css' %}">

        
        
    </head>
     
    <body>
        @import url(main.css) main;
        @media all and (max-width: 768px){
        {% block contents %}
        <form method="POST" action="{% url 'accounts:login_view' %}">
            {% csrf_token %}
            <!--아이디입력-->
            <input type="text" id="username" name="username" required class="loginInfo" style="left: 54px; top: 458px; position: absolute" placeholder="{% trans "아이디" %}">
            </input>

            <!--비밀번호입력--> 
            <input type="password" id="password" name="password" required class="loginInfo" style="left: 54px; top: 511px; position: absolute" placeholder="{% trans "비밀번호" %}" type="password">
            </input>

            <!--로그인버튼-->
            <div class = "loginBtn">
                <button type="submit">{% trans "로그인" %}</button>
            </div>

            <!--토순이 이미지-->
            <img class="Tosun" style="width: 150px; height: 158px; left: 54px; top: 130px; 
                position: absolute" src = "../../static/img/tosun.png" alt="토순이입니다."/>


            <!--회원가입버튼-->
            <div class = "membershipBtn">
                <a a href={% url 'accounts:signup' %}>
                    {% trans "회원가입" %}
                </a>
            </div>


            <!--맵모리텍스트-->
            <div style="width: 151px; height: 29px; left: 206px; top: 194.50px; 
                position: absolute; text-align: center; font-size: 32px; 
                font-weight: 500; line-height: 20px; word-wrap: break-word">
                {% trans "맵모리" %}
            </div>

            <!--맵모리 소개 멘트 텍스트-->
            <div class="Mapmory" style="width: 300px; left: 71px; top: 318.50px; position: absolute; text-align: center">
                <span style=" font-size: 13px;  
                    font-weight: 100; line-height: 20px; word-wrap: break-word">
                    {% trans "당신의 추억을 지도로 그리는, 당신의" %}
                </span>
                <span style=" font-size: 13px; 
                    font-weight: 900; line-height: 20px; word-wrap: break-word">
                    Mapmory<br/>
                </span> 
                <span style=" font-size: 13px;  
                    font-weight: 100; line-height: 20px; word-wrap: break-word">
                    {% trans "지금 시작하세요." %}
                </span>
            {% endblock %}
            </div>
        </form>
        }
    </body>
    
</html>
