{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--배경색, 폰트-->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!--회원가입-->
        <link rel="stylesheet" href="{% static 'css/_0membership.css' %}">
        
    </head>
    <body>
        <!--회원가입제목-->
        <div class="membershiptext" style="width: 204px; height: 34px; left: 97px; top: 73px; position: absolute">
          <div class="membershiptextback">
              <div class="back"></div>
          </div>
          {% block contents %}
          <div class="text"style="font-size:20px">{% trans "회원가입" %}</div>
        </div>


        <form method="POST" action="{%url 'accounts:signup' %}">
            {% csrf_token %}
            <!--정보입력-->
            <div class="container" >
                <input name="username" type="text" class="membershipInfo" style="left: 130px; top: 134px; position: absolute;">
                </input>
                <input name="password" class="membershipInfo" style="left: 130px; top: 176px; position: absolute;" type="password">
                </input>
                <input name="password2" class="membershipInfo" style="left: 130px; top: 218px; position: absolute;" type="password">
                </input>
                <input name="email" type="text" class="membershipInfo" style="left: 130px; top: 260px; position: absolute;">
                </input>
            </div>
            <div class="container" >
              <div class="text" style="left: 30px; top: 142px; position: absolute;">
                  {% trans "아이디" %}
              </div>
              <div class="text" style="left: 30px; top: 184px; position: absolute;">
                  {% trans "비밀번호" %}
              </div>
              <div class="text" style="left: 30px; top: 226px; position: absolute;">
                  {% trans "비밀번호확인" %}
              </div>
              <div class="text" style="left: 30px; top: 268px; position: absolute;">
                  {% trans "이메일" %}
              </div>
            </div>
            
            <!--가입버튼-->
            <input class="btn btn-primary" type="submit" value="{% trans "가입" %}">
            {% endblock%}
        </form>
    </body>
</html>