<!DOCTYPE html>
<html>

<head></head>
<body>
    <div class="container">
        <h1>회원가입</h1>

        <form method="POST" action="{%url 'signup' %}">
            {% csrf_token %}
            ID : <br>
            <input name="username" type="text"><br>
            Password : <br>
            <input name="password" type="password"><br>
            Confirm Password : <br>
            <input name="password2" type="password"><br>
            E-mail : <br>
            <input name="email" type="text"><br>
            <input class="btn btn-primary" type="submit" value="회원가입">

        </form>
        
    </body>
</html>