<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--배경색, 폰트-->
        <link rel="stylesheet" href="../../static/css/main.css">
        <!--회원가입-->
        <link rel="stylesheet" href="../../static/css/_0membership.css">
        
    </head>
    <body>
        <form method="POST" action="{%url 'signup' %}">
            {% csrf_token %}
            <!--정보입력-->
            <div class="container" >
                <input name="username" type="text" class="membershipInfo" style="left: 130px; top: 134px; position: absolute;">
                </input>
                <input name="password" class="membershipInfo" style="left: 130px; top: 176px; position: absolute;" type="password">
                </input>
                <input name="password2" class="membershipInfo" style="left: 130px; top: 218px; position: absolute;" type="password">
                </input>
                <input name="email" type="text" class="membershipInfo" style="left: 130px; top: 260px; position: absolute;">
                </input>
            </div>


            <div class="container" >
                <div class="text" style="left: 30px; top: 142px; position: absolute;">
                    아이디
                </div>
                <div class="text" style="left: 30px; top: 184px; position: absolute;">
                    비밀번호
                </div>
                <div class="text" style="left: 30px; top: 226px; position: absolute;">
                    비밀번호확인
                </div>
                <div class="text" style="left: 30px; top: 268px; position: absolute;">
                    이메일
                </div>
            </div>

            <!--가입버튼-->
            <input class="btn btn-primary" type="submit" value="가입" style="width: 50px; 
    height: 27px; 
    left: 311px; top: 307.50px;
    position: absolute; 
    background: #FFFFEA; 
    border-radius: 50px; 
    border-color: #FFFFEA;
    font-size: 16px; 
    text-align: center;
    font-weight: 500;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06);">
        </form>
        
    </body>
</html>