{% load i18n%}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>password reset</title>
    <link href="{% static 'css/_settings1.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
     <!--아이콘-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
</head>
<body>
  {% block contents %}
      {% csrf_token %}
      <div class="container">
        <div class="setting2">
          <div class="text" style=" font-size: 15px;text-align: center;width: 700px;height:20px ;">
                {% trans "비밀번호 재설정" %}
          </div>
          </div>
        </div>

       <div class="container">      
            <div class="setting1">
      
              <form method="POST" action="{% url 'settings:re_password' %}">
                <div class="container2 "style="font-size:13px" ;>
                  <br><br>
                  {% trans "현재 비밀번호" %} : <input name="current_password" type="password">
                  <br><br>
                  {% trans "변경할 비밀번호" %} :
                  <input name="new_password" type="password">
                  <br><br>
                  {% trans "비밀번호 확인" %} : 
                  <input name="confirm_password" type="password">
                  <br><br>
                  <input class="btn btn-primary" type="submit"style="font-family: Gmarket Sans TTF;color:rgba(84.26, 84.26, 85, 1);border:1px solid #ccc;background: #FFFFEA; border-radius: 50px;"onclick="alert('{% trans "비밀번호 변경완료" %}')"value="{% trans "변경" %}"> 
                </div>
              </form>
        </div>
      </div>
   {% endblock%}
   <div class="naviBackground">

    <a href={% url 'post:post_form' %}>
        <span class="material-icons" style="left: 20px;">edit</span>
    </a>

    <a href={% url 'recommend:search' %}>
        <span class="material-icons" style="left: 90px;">search</span>
    </a>
    

    <a href={% url 'accounts:home' %} >
        <span class="material-icons" style="left: 160px;">home</span>
    </a>

    <a href={% url 'mypage:mypage' %} >
        <span class="material-icons" style="left: 230px;">person</span>
    </a>
    <a href={% url 'settings:config_home' %}>
        <span class="material-icons" style="left: 300px;">settings</span>
    </a>
    
</div>
</body>
</html>
