{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="{% static 'css/_settings1.css' %}" rel="stylesheet">
    

  
   
</head>
<body>
     <div class="container">
        <div class="setting2">
            <div class="text" style=" font-size: 24px;text-align: center;width: 700px;height:20px ;">
                다크모드
            </div>
        </div>
    </div>
    <div class="container">
        <div class="setting1">
            <div class="text" >
                다크 모드
            </div>
        </div>
    </div>
</body>
</html>


    
   