
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/dark_mode.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="{% static 'css/_settings1.css' %}" rel="stylesheet">
    

    <script>
        const toggleDarkMode = () => {
        const darkModeEnabled = {% if DARK_MODE %}true{% else %}false{% endif %};
            const body = document.body;
            body.classList.toggle('dark-mode', !darkModeEnabled);

        // Send a request to the server to update the DARK_MODE setting
            fetch('/toggle-dark-mode/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                // Handle response if needed
            })
            .catch(error => {
                console.error('Error toggling dark mode:', error);
            });
        };
    </script>
    {% if DARK_MODE %}
    <link rel="stylesheet" href="{% static 'css/dark-mode.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'css/light-mode.css' %}">
    {% endif %}

</head>
<body class="{% if DARK_MODE %}dark-mode{% endif %}">
    <button onclick="toggleDarkMode()">Toggle Dark Mode</button>
    <!-- Your content here -->
</body>
</html>

    
    
    
  
               
        
   
