{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Email Information</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="{% static 'css/_settings1.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="setting2">
            연결된 이메일 확인
        </div>

        <div class="setting1">
            <br><br>
            {% if email %}
            <h4>Input Email : {{ email }}</h4>
            {% else %}
            <h2>Email not available</h2>
            {% endif %}
        </div>
    </div>
</body>
</html>