{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Email Information</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="{% static 'css/_settings1.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
     <!--아이콘-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    {% block contents %}
    <div class="container">
        <div class="setting2">
            {% trans "연결된 이메일 확인" %}
        </div>

        <div class="setting1">
            <br><br>
            {% if email %}
            <h4>{% trans "연결된 이메일" %} : {{ email }}</h4>
            {% else %}
            <h2>{% trans "이메일이 존재하지 않습니다" %}</h2>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    <div class="naviBackground">

        <a href={% url 'post:post_form' %}>
            <span class="material-icons" style="left: 20px;">edit</span>
        </a>

        <a href={% url 'recommend:search' %}>
            <span class="material-icons" style="left: 90px;">search</span>
        </a>
        

        <a href={% url 'accounts:home' %} >
            <span class="material-icons" style="left: 160px;">home</span>
        </a>

        <a href={% url 'mypage:mypage' %} >
            <span class="material-icons" style="left: 230px;">person</span>
        </a>
        <a href={% url 'settings:config_home' %}>
            <span class="material-icons" style="left: 300px;">settings</span>
        </a>
        
    </div>
</body>
</html>
