{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Email Information</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div style="width: 204px;
    height: 34px;
    left: 7px;
    top: 73px;
    position:absolute;
   
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.10);
    justify-content: center;
     align-items: center;
      background: rgba(255, 240, 239, 0.79);
       border-radius: 50px; 
      border: 0.15px rgba(84.26, 84.26, 84.26, 0.80) solid;
      display: inline-flex;
        ">연결된 이메일 확인<div>

    <div style="width: 400px;
          height: 300px;
         left: -10px;
        top: 100px;
        position:absolute;
         
          box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.10);
          justify-content: center;
          align-items: center;
          background: rgba(255, 240, 239, 0.79);
          border-radius: 50px; 
          border: 0.15px rgba(84.26, 84.26, 84.26, 0.80) solid;
          display: inline-flex;">
      
    {% if email %}
        <h4>Input Email : {{ email }}</h4>
    {% else %}
        <h2>Email not available</h2>
    {% endif %}
</div>
</body>
</html>