

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="{% static 'css/_settings1.css' %}" rel="stylesheet">
   
</head>
<body>
   <div class="container">
       <div class="setting2">
            <div class="text" style=" font-size: 24px;text-align: center;width: 700px;height:20px ;">
            언어 설정
            </div>
        </div>
    </div>
  
    <div class="container">
        <div class="setting1">
         
            <div class="text "> 한국어</div>
            <div class="text "> 영어</div>
          
        </div>
    </div>
    
   

    
</body>
</html>

