
{% load static %}
<!DOCTYPE html>
<head>
    <link href="{% static 'css/_settings1.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
   
</head>
<body>
   

    <div class="container">
        <div class="setting2">
              <div class="text" style=" font-size: 24px;text-align: center;width: 700px;height:20px ;">
                     보안
                </div>
            </div>
            
    </div>
    </div>
    <div class="container">
        <div class="setting1">
           <div class="text">
                연결된 이메일
            </div>
            <div class="text">
            비밀번호 재설정
            </div> 
        </div>
    </div>
    <a href="{% url 'settings:show_email' %}">
        <div style="position: absolute; left: 265px; top: 20px;">
            <button class="Rectangle5" style="border: none;">
        <div>
        <img class="bar3" style="width: 30px; height: 30px; left: 54px; top: 130px; position: absolute;"
             src="{% static 'img/bar3.png' %}" />
        </div>
            </button>
        </div>
    </a>
    <a href="{% url 'settings:re_password' %}">
        <div style="position: absolute; left: 265px; top: 80px;">
            <button class="Rectangle5" style="border: none;">
        <div>
        <img class="bar3" style="width: 30px; height: 30px; left: 54px; top: 130px; position: absolute;"
             src="{% static 'img/bar3.png' %}" />
        </div>
            </button>
        </div>
    </a>

</body>
</html>

