{% load i18n %}

<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}<!--현재 사용중인 언어 코드 가져옴-->
        {% get_available_languages as LANGUAGES %}<!--앱에서 사용 가능한 모든 언어를 가져와서 변수에 저장-->
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <!--현재 선택된 언어와 해당 언어가 일치하면 해당 옵션을 선택 상태로 표시-->
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Switch"><!--선택된 언어를 서버에 전송하기 위한 제출 버튼-->
</form>

<!DOCTYPE html>
<head></head>
<body>
    <div>{% trans "맵모리" %}</div>
    <div>{% trans "당신의 추억을 지도로 그리는, 당신의 Mapmory 지금 시작하세요." %}</div>
    <div>{% trans "아이디" %}</div>
    <div>{% trans "비밀번호" %}</div>
    <div>{% trans "비밀번호 확인" %}</div>
    <div>{% trans "이메일" %}</div>
    <div>{% trans "가입" %}</div>
    <div>{% trans "나의 지도" %}</div>
    <div>{% trans "취소" %}</div>
    <div>{% trans "등록" %}</div>
    <div>{% trans "제목" %}</div>
    <div>{% trans "글쓰기" %}</div>
    <div>{% trans "업로드할 사진을 선택하세요" %}</div>
    <div>{% trans "선택한 사진의 장소를 입력하세요." %}</div>
    <div>{% trans "정확한 명칭을 입력하세요." %}</div>
    <div>{% trans "성심당, 대전 성심당" %}</div>
    <div>{% trans "게시 완료" %}</div>
    <div>{% trans "다음은 해시태그를 기반으로 회원님께 추천되는 게시물입니다." %}</div>
    <div>{% trans "검색할 지역을 입력하세요" %}</div>
    <div>{% trans "마이페이지" %}</div>
    <div>{% trans "내 정보 수정하기" %}</div>
    <div>{% trans "나이" %}</div>
    <div>{% trans "여행 스타일" %}</div>
    <div>{% trans "자주 사용하는 키워드" %}</div>
    <div>{% trans "내가 작성한 글" %}</div>
    <div>{% trans "본문" %}</div>
    <div>{% trans "수정하기" %}</div>
    <div>{% trans "설정" %}</div>
    <div>{% trans "언어 설정" %}</div>
    <div>{% trans "한국어" %}</div>
    <div>{% trans "영어" %}</div>
    <div>{% trans "일본어" %}</div>
    <div>{% trans "중국어" %}</div>
    <div>{% trans "더보기" %}</div>
    <div>{% trans "다크 모드" %}</div>
    <div>{% trans "라이트 모드" %}</div>
    <div>{% trans "알림 설정" %}</div>
    <div>{% trans "푸시 알림" %}</div>
    <div>{% trans "야간 푸시 알림(21~08시)" %}</div>
    <div>{% trans "보안" %}</div>
    <div>{% trans "연결된 이메일" %}</div>
    <div>{% trans "비밀번호 재설정" %}</div>
    <div>{% trans "현재 비밀번호" %}</div>
    <div>{% trans "변경할 비밀번호 " %}</div>
    <div>{% trans "비밀번호가 변경되었습니다"%}
     <!--해시태그-->
    <div>{% trans "분위기" %}</div>
    <div>{% trans "조용한" %}</div>
    <div>{% trans "힙한" %}</div>
    <div>{% trans "E들의" %}</div>
    <div>{% trans "시끄러운" %}</div>
    <div>{% trans "화려한" %}</div>
    <div>{% trans "편안한" %}</div>
    <div>{% trans "I들의" %}</div>
    <div>{% trans "귀여운" %}</div>
    <div>{% trans "음식" %}</div>
    <div>{% trans "한식" %}</div>
    <div>{% trans "중식" %}</div>
    <div>{% trans "일식" %}</div>
    <div>{% trans "양식" %}</div>
    <div>{% trans "추천이유" %}</div>
    <div>{% trans "사진찍기좋은" %}</div>
    <div>{% trans "단체모임" %}</div>
    <div>{% trans "혼밥하기좋은" %}</div>
    <div>{% trans "넓은" %}</div>
    <div>{% trans "요즘뜨는" %}</div>
    <div>{% trans "뷰맛집" %}</div>
    <div>{% trans "먹방" %}</div>
    <div>{% trans "데이트하기좋은" %}</div>
    <div>{% trans "재밌는" %}</div>
    <div>{% trans "개발자에게 해시태그를 추천해주세요!" %}</div>
    <div>{% trans "추천 받을 해시태그" %}</div>
</body>