{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>글_수정하기</title>
        <!--배경색, 폰트-->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!--아이콘-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--글쓰기-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/_6_3myPage_writingEdit.css' %}">
    </head>
    <body>
        <!--마이페이지제목-->
        <div class="mypagetext" style="width: 204px; height: 34px; left: 97px; top: 73px; position: absolute">
            <div class="mypagetextback">
                <div class="back"></div>
            </div>
            <div class="text">마이페이지</div>
        </div>


        <form method="post">
            {% csrf_token %}

            <div class="background">
                <div class="title1">
                    <div class="titleText">{{ form.title.label_tag }} </div>
                    <div class="titleWriting">{{ form.title }}</div>
                </div>
        
                <div class="contents1">
                    <!-- <div class="contentsText">{{ form.contents.label_tag }}</div> -->
                    <div class="contentsWriting">{{ form.contents }}</div>
                </div>

                <div class="location1">
                    <div class="locationText">{{ form.location.label_tag }}</div>
                    <div class="locationWriting">{{ form.location }}</div>
                </div>
            </div>

            {% for photo in photos %}
                <img src="{{ photos.image.url }}" alt="Post Photo" width="200">
            {% endfor %}

            <button type="submit">수정하기</button>
        </form>
    </body>
</html>