{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>my_posts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<body>
    {% block contents %}
    <h1>{% trans "내 글 보기" %}</h1>
    <ul>
        {% for post in user_posts %}
        <li>
            {% if post.writer %}
            <a href="{% url 'mypage:edit_post' post.id %}">
            <h3>{{ post.title }}<h3>
            <p>{{ post.contents }}</p>
        </a>
        {% else %}
            {% trans "글 수정" %}: {{ post.title }}
        {% endif %}
        </li>
    {% endfor %}
    {% endblock %}
    </ul>
</body>
</html>
