{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>마이페이지</title>
    <!--배경색, 폰트-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!--아이콘-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--글쓰기-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/_6_1myPage.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<body>
    <!-- <h1>환영합니다, {{ user_profile.user.username }}님!</h1> -->

    <!--마이페이지제목-->
    <div class="mypagetext" style="width: 204px; height: 34px; left: 97px; top: 73px; position: absolute">
        <div class="mypagetextback">
            <div class="back"></div>
        </div>
        {% block contents %}
        <div class="text">{% trans "마이페이지" %}</div>
    </div>

    <!--내정보-->
    <div class="myinfo" style="width: 334px; height: 242px; left: 30px; top: 126px; position: absolute">
        <div class="profileback">
            <p>
                {% if user_profile.profile_picture %}
                <div class="profileImage">
                    <img src="{{ user_profile.profile_picture.url }}" alt="프로필 사진" style="border-radius: 100%;  width: 100px; height: 100px;">
                </div>
                    
                {% else %}
                    {% trans "이미지 없음" %}
                {% endif %}
            </p>
            <p style="padding-left: 10px;">{% trans "닉네임" %}: {{ user_profile.nickname }}</p>
            <p style="padding-left: 10px;">{% trans "나이" %}: {{ user_profile.age }}</p>
            <p style="padding-left: 10px;">{% trans "여행 스타일" %}: {{ user_profile.travel_style }}</p>
            {% csrf_token %}
            <div class="mypageeditbtn">
                <a href="{% url 'mypage:edit_profile' %}">{% trans "내 정보 수정하기" %}</a>
            </div>

        </div>
        
  </div>
    
    
    <div class="mywriting" style="width: 334px; height: 240px; left: 30px; top: 387px; position: absolute">
        <div class="mywritingback">
            <div class="myText"><{% trans "내가 작성한 글" %}></div>
            <br>
            <ul>
                {% for post in user_posts %}
                <li>
                    {% if post.writer %}
                    <a href="{% url 'mypage:edit_post' post.id %}" style="text-decoration: none;">
                        <h3 style="color: #1f1f1f; font-size: 16px;">{{ post.title }}<h3>
                        <p style="color: #545454; font-size: 12px;">{{ post.contents }}</p>
                    </a>
                {% else %}
                    {% trans "글 수정" %}: {{ post.title }}
                    
                {% endif %}
                </li>
                {% endfor %}
                {% endblock%}
        
            </ul>
        </div>
        
    </div>

    
    <!--네비바-->
    <div class="naviBackground">

        <a href={% url 'post:post_form' %}>
            <span class="material-icons" style="left: 20px;">edit</span>
        </a>

        <a href={% url 'recommend:search' %}>
            <span class="material-icons" style="left: 90px;">search</span>
        </a>

        <a href={% url 'accounts:home' %} >
            <span class="material-icons" style="left: 160px;">home</span>
        </a>

        <a href={% url 'mypage:mypage' %} >
            <span class="material-icons" style="left: 230px;">person</span>
        </a>

        <a href={% url 'settings:config_home' %}>
            <span class="material-icons" style="left: 300px;">settings</span>
        </a>
        
    </div>
</body>
</html>
