<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h1>게시완료</h1>
    <h3>{{ hashtag_name }} 관련 게시물</h3>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post:post_detail' post.pk %}">{{ post.title }}</a>
                <br>
                {% for photo in post.photo_set.all %}
                    <img src="{{ photo.image.url }}" alt="Post Image" width="200" height="200">
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
