{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Hashtag Selection</title>
        <!--배경색, 폰트-->
        <link rel="stylesheet" href="{% static 'css/main.css' %}?v=2">
        <!--아이콘-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--글쓰기->해시태그선택-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/_3_2wirting_hashtag.css' %}?v=2">
    
        <script>
            var username = "{{ request.user.id }}";
        </script>
    </head>
    <body>


        <!--등록-->
        <div class="btn" >
            <form id="hashtagForm" method="post" action="{% url 'post:post_form' %}">
                <div id="hashtag-container"></div>
                <a type="button" style="left: 314px; top: 72px;" onclick="submitSelection()">등록</a>
                {% csrf_token %}
            </form>
        </div>

        <script type="text/javascript" src="../../static/js/_3_2writing_hashtag.js"></script>

        <!--네비바-->
        <div class="naviBackground">

            <a href={% url 'post:post_form' %}>
                <span class="material-icons" style="left: 20px;">edit</span>
            </a>

            <span class="material-icons" style="left: 90px;">location_on</span>

            <a href={% url 'accounts:home' %} >
                <span class="material-icons" style="left: 160px;">home</span>
            </a>

            <a href={% url 'mypage:mypage' %} >
                <span class="material-icons" style="left: 230px;">person</span>
            </a>

            <span class="material-icons" style="left: 300px;">settings</span>
        </div>
    </body>
</html>

