{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>글 작성 페이지</title>
        <!--배경색, 폰트-->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!--아이콘-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--글쓰기-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/_3_1writing.css' %}">
    </head>
    <body>
        <div class="hashtag">
            <ul>
            {% for hashtag in selected_hashtags %}
                <li>{{ hashtag }}</li>
            {% endfor %}
            </ul>
        </div>
        <br>

        <form method="post">
            {% csrf_token %}
            <div class="title1">
                <div class="titleText">{{ form.title.label_tag }} </div>
                <div class="titleWriting">{{ form.title }}</div>
            </div>

            <div class="contents1">
                <div class="contentsText">{{ form.contents.label_tag }}</div>
                <div class="contentsWriting">{{ form.contents }}</div>
            </div>
            
            <input type="submit" value="등록"></input>
        </form>
    </body>
</html>